body {
  background-color: rgb(220, 240, 209);
}
h1 { 
  font-family: 'Raleway', sans-serif !important; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
} 
h2 {
  font-family: 'Raleway', sans-serif !important; 
  font-size: 35px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 1.4; 
  padding-bottom: 50px;
  letter-spacing: 2px;
}
h3 { 
  font-family: 'Raleway', sans-serif !important; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 15.4px; 
} 
p,
td { 
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important;
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
} 
li {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important;
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
}
blockquote { 
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important;
  font-size: 21px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
} 
pre { 
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif !important;
  font-size: 13px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 18.5714px; 
}