@media (min-width: 300px) { 
    .subHeaders {  
        color: #2e1504;
        text-align: center;
    }
    .ticketButton {
        background-color: rgb(134, 72, 31);
        color: rgb(238, 238, 238);
        transition: 0.4s;
    }
    .ticketButton:hover {
        background-color: rgb(168, 83, 26);
        color: rgb(238, 238, 238);
        transition: 0.4s;
    }
    thead {
        background-color: rgb(36, 124, 33);
    }
    .table td {
        padding: 0.5rem;
        word-break: break-word;
        font-size: 14px;
        vertical-align: middle;
    }
    .table th {
        padding: 0.5rem;
        word-break: break-word;
        font-size: 18px;
        vertical-align: middle;
        color: rgb(250, 250, 250);
    }
    .btn {
        border-radius: .1rem;
        word-break: normal;
    }
}
@media (min-width: 576px) { 
    .table td {
        padding: 0.75rem;
        font-size: 18px;
    }
    .table th {
        padding: 0.75rem;
        font-size: 24px;
    }
}
@media (min-width: 992px) { 
    #root > div:nth-child(12) {
        margin: 50px auto 50px auto;
    }
}