@media (min-width: 300px) {
    #headerImage {
        width: 80%;
        height: auto;
        margin-top: 75px;
    }
    .headerContainer {
        text-align: center;
    }
    #root > nav > button {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    .nav-link {
        color: rgb(99, 99, 99) !important;
        font-size: 18px;
        transition: 0.4s;
    }
    .nav-link:hover {
        color: rgb(43, 165, 38) !important;
        transition: 0.4s;
    }
    .socialContainer {
        text-align: center;
        margin: 75px 0 75px 0;
    }
    .fa {
        font-size: 24px;
        margin: 0 15px 0 15px;
        transition: 0.4s;
        cursor: pointer;
    }
    .fa-facebook-f:hover {
        color: #3b5998;
        transition: 0.4s;
    }
    .fa-twitter:hover {
        color: #00acee;
        transition: 0.4s;
    }
    .fa-instagram:hover {
        color: #3f729b;
        transition: 0.4s;
    }
    .fa-youtube:hover {
        color: #c4302b;
        transition: 0.4s;
    }
    .fa-soundcloud:hover {
        color: #ff7700;
        transition: 0.4s;
    }
    .fa-spotify:hover {
        color: #1DB954;
        transition: 0.4s;
    }
    .active {
        color: black !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .fa {
        font-size: 24px;
        margin: 0 25px 0 25px;
        transition: 0.4s;
        cursor: pointer;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .mainHeader {
        font-size: 60px;
    }
    .navbar-nav {
        width: 100% !important;
        display: inline-block;
        text-align: center;
    }
    .nav-item {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0 50px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #headerImage {
        width: 65%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #headerImage {
        width: 50%;
    }
}